@import 'partials/variables';
@import 'partials/mixin';



header{
    img{
        margin-top: 44px;
        margin-left: -28px;

    }
   .btn{
       float: right;
       height: 45px;
       width: 130px;
       margin-top: 39px;
       margin-left: 16px;
       
   }
  
   #contacts{
      float: right;
      margin-top: 35px;
   }
   ul{
       list-style-type: none;
      
   }
   ul li{
       margin-left: 15px;
       float: left;
   }
   .first-icon{
       float: left;
       font-size: 34px;
       margin: 0px 20px;
      
   }
   .first-icon-info{
       float: left;

   }
   .second-icon{
    float: left;
    font-size: 34px;
    margin: 0px 20px;
   
    }
    .second-icon-info{
    float: left;

    }
    .third-icon{
        float: left;
        font-size: 34px;
        margin: 0px 20px;
       
        }
    .third-icon-info{
        float: left;
    
        }
    .bg{
        background-color: $primary-color;
     
    }  
    .social{
        color: $secondary-color;
    }  
   
        
       
    
}