@import 'partials/variables';
@import 'partials/mixin';
@import 'partials/button';
@import 'partials/links';


    .container {
        max-width: 1200px;
        
    }

// Header
header{
   
    img{
        margin-top: 44px;

    }
   #contacts{
      float: right;
      margin-top: 27px;
      margin-right: 35px;
     
   }
   ul{
       list-style-type: none;
      
   }
   ul li{
       margin-left: 15px;
       float: left;
   }
   .first-icon{
       float: left;
       font-size: 36px;
       margin: 0px 20px;
       color: $helper-color2;
      
   }
   .first-icon-info{
       float: left;
       font-size: 14px;
       margin-top: 8px;
       font-family: $font-family;
       a{
        color: $helper-color;
        &:hover{
            text-decoration: none;
        }
       }
      


   }
   .second-icon{
        float: left;
        font-size: 36px;
        margin: 0px 20px;
        color: $helper-color2;
   
    }
    .second-icon-info{
        float: left;
        font-size: 14px;
        margin-top: 8px;
        font-family: $font-family;
    

    }
    .third-icon{
        float: left;
        font-size: 36px;
        margin: 0px 20px;
        color: $helper-color2;
       
        }
    .third-icon-info{
        float: left;
        font-size: 14px;
        margin-top: 8px;
        font-family: $font-family;
        
    
        }
    .btn{
        margin-left: 10px;
        margin-top: 10px;
     }    

}
// Header 2
.bg{
        background-color: $primary-color;
     
}
#menu{
    .nav-link{
        color:$secondary-color;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        margin: 8px 0px;
        .dropdown-menu a{
            color:$helper-color;
       
        }
    }
   
   .social{
        ul{
            color: $secondary-color;
            list-style-type: none;
            display: inline-block;
            position: relative;
            top:15px;
            li{
            display: inline;
            margin: 30px 10px;
            text-align: center;
            
                i{
                 width: 30px;
                 display: inline-block;
                 @include setTransition(all,0.6s)
                }    
            
                }   
        
            .fa-facebook-f{
                @extend %links;
                &:hover{
                    background-color: #3b5998;
                }
            }
            .fa-youtube{
                @extend %links;
                &:hover{
                    background-color: #bb0000;
                }
            }
            .fa-twitter{
                @extend %links;
                &:hover{
                    background-color:  #00aced;
                } 
            }
            .fa-linkedin-in{
                @extend %links;
                &:hover{
                    background-color:#007bb6;
                } 
            }
            .fa-instagram{
                @extend %links;
                &:hover{
                    background-color:#517fa4;
                } 
            }
            
        }  
   }


       
       
      
      
   
}  
//Slider Section

#slider{
   
   
        #carouselExampleIndicators{
         
            .carousel-inner{
                .carousel-control-prev{
                    position: absolute;
                    left: 40px;
                    top: 50%;
                    width: 45px;
                    height: 45px;
                    background-color: rgba(14, 14, 14, 0.26);
                    @include setTransition(all,0.2s);
                    &:hover{
                        background-color: $primary-color;
                    }
                }
                .carousel-control-next{
                    position: absolute;
                    right: 40px;
                    top: 50%;
                    width: 45px;
                    height: 45px;
                    background-color: rgba(14, 14, 14, 0.26);
                    @include setTransition(all,0.2s);
                    &:hover{
                        background-color: $primary-color;
                        }
                }    
                .carousel-item{
                    position: relative;
                       
                    .carousel-caption{
                        

                        h3{
                            @keyframes fadeIn {
                                0% {opacity: 0;}
                                100% {opacity: 1;}
                             } 
                            a{
                                position: absolute;
                                left: 200px;
                                bottom: 400px;
                                color: $secondary-color;
                                font-weight: 900;
                                font-size: 64px;
                                text-decoration: none;
                                display: inline-block;
                                font-family: $font-family;
                                margin-bottom: 10px;
                                
                            }
                        }
                        p{
                                position: absolute;
                                left: 200px;
                                bottom: 300px;
                                color: black;
                                font-weight: 900;
                                font-size: 20px;
                                display: inline-block;
                                font-family: $font-family;
                                font-size: 19px;
                                margin-bottom: 45px;
                                color: #e2e1e1;
                                font-weight: 400;
                                padding-left: 50px;
                                width: 730px;
                                max-width: 100%;
                            
                                
                        }
                    }  
                    .btns{
                      
                        .blue-btn{
                            @extend %button;
                            width: 166px;
                            height: 51px;
                            background-color: $primary-color;
                            color: $secondary-color;
                            font-family: $font-family;
                            font-size: 14px;
                            text-transform: uppercase;
                            font-weight: 500;
                            position: absolute;
                            bottom: 200px;
                            left: 400px;
                            cursor: pointer;
                            &:hover{
                                background: $secondary-color;
                                color: $helper-color;
                            }

                            
    
                        }
                        .white-btn{
                            @extend %button;
                            width: 146px;
                            height: 51px;
                            margin-left: 35px;
                            background: $secondary-color;
                            font-family: $font-family;
                            font-size: 14px;
                            text-transform: uppercase;
                            color: $helper-color;
                            font-weight: 500;
                            position: absolute;
                            bottom: 200px;
                            left: 550px;
                            cursor: pointer;
                            &:hover{
                                background-color: $primary-color;
                                color: $secondary-color;
                                
                            }
                        }
                    }
                    position: relative;
            
                    
                .carousel-indicators{
                    .icon{
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        background-color: $secondary-color;
                        border-radius: 12px;
                        margin: 0px 4.5px;
                        cursor: pointer;
                    }
                    .active{
                        width: 12px;
                        height: 30px;
                        background-color: $primary-color;
                        border-radius: 12px;
                        margin: 0px 4.5px;
                        text-align: center;
                       
                    }
                    
                }
                
                }
               
            }
            
        
        
        
        
          
    
    
    
        }
 
    
}

    