$font-family: 'Roboto', sans-serif;

$primary-color: #0b60a9;
$secondary-color:#fff;
$helper-color:#222;
$helper-color2:rgb(11, 96, 169);

$font-size:14px;
$title-size:33px;

$border-radius:10px;
