@import 'partials/variables';
@import 'partials/mixin';


    .container {
        max-width: 1180px;
        
    }


header{
   
    img{
        margin-top: 44px;

    }
   .btn{
       background-color: $primary-color;
       color: $secondary-color;
       border-radius: 0px;
       float: right;
       height: 45px;
       width: 126.95px;
       margin-top: 7px;
       margin-left: 9px;
       padding: 10px;
       
       
   }
  
   #contacts{
      float: right;
      margin-top: 27px;
      margin-right: 35px;
     
   }
   ul{
       list-style-type: none;
      
   }
   ul li{
       margin-left: 15px;
       float: left;
   }
   .first-icon{
       float: left;
       font-size: 36px;
       margin: 0px 20px;
       color: $helper-color2;
      
   }
   .first-icon-info{
       float: left;
       font-size: 14px;
       margin-top: 8px;
       font-family: $font-family;


   }
   .second-icon{
        float: left;
        font-size: 36px;
        margin: 0px 20px;
        color: $helper-color2;
   
    }
    .second-icon-info{
        float: left;
        font-size: 14px;
        margin-top: 8px;
        font-family: $font-family;
    

    }
    .third-icon{
        float: left;
        font-size: 36px;
        margin: 0px 20px;
        color: $helper-color2;
       
        }
    .third-icon-info{
        float: left;
        font-size: 14px;
        margin-top: 8px;
        font-family: $font-family;
        
    
        }
      
    
   
        
       
    
}
.bg{
        background-color: $primary-color;
     
}
#menu{
    color: $secondary-color;
        ul{
        list-style-type: none;
        
        
        
    li{
        margin-left: 15px;
        position: relative;
        
        
}
    .menu-bar{
        position: absolute;
        width: 100%;
        ul{
            li{
               width: 25%; 
            }
        }
    }
}
}
.social{
    color: $secondary-color;
}  

    